@model TechCareerMVCSitem.Models.Urun

@{
    ViewData["Title"] = "EditUrun";
}

<h1>EditUrun</h1>

<h4>Urun</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUrun">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrunAdi" class="control-label"></label>
                <input asp-for="UrunAdi" class="form-control" />
                <span asp-validation-for="UrunAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiyati" class="control-label"></label>
                <input asp-for="Fiyati" class="form-control" />
                <span asp-validation-for="Fiyati" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

